body {
    font-family: Arial, sans-serif;
    background: url('assets/Background.png') repeat;
}

header, footer {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

header .border {
    border: 40px;
    border-color: black;
    border-radius: 100px; 
}

label {
    color: black;
}

main {
    text-align: center;
}

canvas {
    border: 3px solid #000;
    width: 40%; /* Reduce size */
    height: 40%; /* Reduce size */
}

.canvas-container {
    display: flex;
    justify-content: center; /* Centers the canvas horizontally */
    align-items: center; /* Centers the canvas vertically */
    flex-wrap: wrap;
    width: 90%; /* Adjust width to fit smaller screens */
}

#controls {
    margin-bottom: 5%;  
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
}
