body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('assets/Background.png') repeat;
}

header, footer {
    color: black;
    padding: 10px 0;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

canvas {
    border: 3px solid #000;
}

.canvas-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: nowrap;
    width: 90%;
    max-width: 800px; /* Added to limit the maximum width */
    margin: 0 auto; /* Added to center the container itself */
}

#controls {
    margin-bottom: 5%;  
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
}

@media (max-width: 768px) {
    .canvas-container {
        flex-direction: column;
        justify-content: center;
    }

    #pieCanvas, #pieStepsCanvas {
        width: auto;
        max-width: 200px;
        height: auto;
        margin: 5px;
    }
}
