body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('assets/Background.png') repeat;
}

header, footer {
    color: black;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

canvas {
    border: 3px solid #000;
    border-radius: 10px;
}

.canvas-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: nowrap;
    width: 90%;
    max-width: 800px; /* Added to limit the maximum width */
    margin: 0 auto; /* Added to center the container itself */
}

#controls {
    padding: 15px;
    border-radius: 10px;
    border: 3px solid #000;
    max-width: 820px;
    margin: 0 auto; 
}

#controls-content{
    margin: auto;
    font-size: 3vh;
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
}

@media (max-width: 750px) {
    .canvas-container {
        flex-direction: column;
        justify-content: center;
    }

    #pieCanvas, #pieStepsCanvas {
        width: 100%;
        max-width: 200px;
        height: auto;
        margin: 5px;
    }

    #controls{
        max-width: 200px;
        width: 90%;
        padding: 5px;
    }
    #controls-content{
        font-size: 2vh;
    }
}
